*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
 }

.header_row{
    align-items: center; 
    flex-direction: column;
}
.logo{
    display:flex;
    justify-content: center;
    padding-top:5px;
}

/* ---------------------MENU--------------------- */
.menu{
    padding:5px;
}
.main_menu a{
    text-decoration:none;
    text-align: center;
    padding: 5px 10px 5px 10px;
    display: block;
    text-transform: uppercase;
    color: rgb(164, 174, 173);;
    font-weight: 600;
    font-size:10px;
}
.main_menu > li{
    border:2px solid rgba(35, 183, 163, 0);
    margin: 0 5px;
    align-self: center
}
.green_text a{
    border:2px solid rgb(35, 183, 164);
    border-radius: 5px;
    color: rgb(35, 183, 164);
}
.main_menu > li:first-child:hover{
    border: 2px solid rgba(164, 174, 173, 0);
}
.main_menu > li:hover{
    border:2px solid rgb(164, 174, 173);
    border-radius: 5px;
}


/* ---------------------SEARCH--------------------- */
.search {
    width: 100%;
    height: 25px;
    border:2px solid rgb(164, 174, 173);
    background-color:rgba(35, 183, 163, 0);
    border-radius: 5px;
    position: relative;

}
.search input{
    width: 70%;
    height: 100%;
    background-color:rgba(35, 183, 163, 0);
    border: none;
    padding-left: 5px;
    padding-top: 3px;
    color:rgb(164, 174, 173);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    
}
.search button{
    background: url(image/search.png) no-repeat 50% 50%;
    width: 25px;
    height: 20px;
    border:none;
    position: absolute;
    top:1px;
    right: 10px;
}


/* ---------------------SLIDES--------------------- */
.slides{
    height: 660px;
    background:url(image/slides.png) no-repeat 50% 50%;
}

.slider{
    overflow: hidden;
    position: absolute;
    padding-top:150px;
    padding-left:20px;
}

.btn_slider{
    background-color: rgba(0, 0, 0, 0);
    color:rgb(225, 225, 225);
    border:1px solid white;
    border-radius: 5px;
    padding:10px;
    margin-right:10px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn_slider:hover{
    background-color: rgb(35, 183, 164);
}
.slider p{
    color: rgb(225, 225, 225);
    margin-bottom: 20px;
    line-height: 30px;
}
.title_slide{
    color: rgb(225, 225, 225);
    font-size:30px;
    font-weight: 600;
}

.bx-wrapper .bx-viewport .slider > div{
   height:500px;
}
.bx-wrapper{   
    height:100%;
    border:none;
    box-shadow: none;
    background-color: rgba(0,0,0,0);
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background-color: rgba(0, 0, 0, 0);
    border:2px solid white;

}
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background-color: white;
}
.bx-wrapper .bx-pager.bx-default-pager a.active{
    background-color: white;
}
/* --------------------- WE ARE MODEST--------------------- */
.modest_row{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}
.page_title{
    width: 100%;
    display: flex;
    margin-bottom: 60px;
    margin-top: 80px;
}

.rectangle_white, .rectangle_dark{
    width:10px;
    height: 35px;
}
.rectangle_white{
    background-color:rgb(164, 174, 173);
}
.rectangle_dark{
    background-color:rgb(78, 90, 98);
}
.title_text_white, .title_text_dark{
    text-transform:uppercase;
    font-weight:600;
    font-size: 25px;
    align-self: center;
    margin-left:10px;
}
.title_text_white{
    color:rgb(41, 57, 54);
}
.title_text_dark{
    color:rgb(225, 226, 227);
}
.paragraphs{
    margin-bottom:50px;
}
.paragraphs b{
    font-weight: 600;
}
.paragraphs > p{
    color:rgb(141, 143, 146);
    line-height: 25px;
    font-weight:300;
}
.paragraphs > p:first-child{
    margin-bottom:40px;
}
/* --------------------- SOCIAL NETWORK--------------------- */
.social_network{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.social_network > div{
    width: 50px;
    height: 50px;
    background-color: rgb(200, 205, 208);
    cursor:pointer;
}
.social_network > div:hover{
    background-color: rgb(208, 213, 217);
}
.facebook{
    background: url(image/facebook.png) no-repeat 50% 50%;
}
.twitter{
    background: url(image/twitter.png) no-repeat 50% 50%;
}
.google_plus{
    background: url(image/google_pl.png) no-repeat 50% 50%;
}
.dribbble{
    background: url(image/dribbble.png) no-repeat 50% 50%;
}
.behance{
    background: url(image/behance.png) no-repeat 50% 50%; 
}
/* --------------------- SOCIAL NETWORK--------------------- */
.all_goals{
    width:100%;
   display: flex;
   flex-direction: row;
   margin-bottom: 25px;
}
.number_goal{
   width: 10%;
   height: 50px;
}
.square{
   width: 50px;
   height: 50px;
   background-color: rgb(35, 183, 164);
   color:rgb(225, 225, 225);
   text-align: center;
   line-height:50px;
}
.text_goal{
   width: 90%;
   margin-left:20px;
}
.text_goal > span{
   text-transform:uppercase;
   color: rgb(41, 47, 54);
   font-weight: 600;

}
.text_goal > p{
   padding-top: 10px;
   line-height: 25px;
   color:rgb(141, 143, 146);
}

.border_bottom{
    border-bottom: 1px solid  rgb(221, 225, 228);
}
/* --------------------- TEAM--------------------- */
.team_row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom:100px;
}

.photo_team img{
    width: 100%;
}
.photo_description{
    height: 100%;
    width: 100%;
    background-color: rgb(225, 230, 234);
    cursor: pointer;
    margin-bottom:15px;
    position: relative;
   
} 
.hover_foto_team{
    width: 100%;
    height:85%;
    background-color: rgba(225,225,225,0.3);
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}
.photo_description:hover{
    background-color: rgb(58, 69, 77);
}
.photo_description:hover > .hover_foto_team{
    visibility:visible;
}
.photo_description:hover > .team_text span, .photo_description:hover > .team_text p{
    color:rgb(192, 195, 197);
}
.team_icons_hover{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}
.team_icons_hover > div{
    width: 50px;
    height: 50px;
    background-color: rgb(58, 69, 77);
    margin-right:1px;
}
.team_icons_hover > div:hover{
    background-color:rgb(78, 90, 98);
}
.hover_twit{
    background: url(image/icon_tw.png) no-repeat 50% 50%;
}
.hover_fb{
    background: url(image/icon_facebook.png) no-repeat 50% 50%;
}
.hover_in{
    background: url(image/icon_in.png) no-repeat 50% 50%;
}
.team_text{
    margin:15px 0 0 18px;
}
.team_text > span{
    text-transform: uppercase;
    color:rgb(41, 47, 54);
    font-weight: 600;

} 
.team_text > p{
    color:rgb(141, 143, 146);
    padding-top: 5px;
    padding-bottom: 10px;
}

.dark_title{
    background-color: rgb(58, 69, 77);
}

/* --------------------- LOVELY WORK--------------------- */

.work {
    margin-bottom:15px;
}
.work_img img{
    width: 100%;
}
.work_img{
    position: relative;
}
.lovely_work_hover{
    height: 80%;
    width: 100%;
    background-color:rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}
.text_hover{
    width: 100%;
    height: 20%;
    background-color:rgb(41, 47, 54) ;
    position: absolute;
    bottom: 0;
    left:0;
    visibility: hidden;
}
.text_hover span{
    display: block;
    color:rgb(225,225,225);
    text-transform: uppercase;
    margin-left: 10px;
    margin-top:15px;
}
.plus_hover{
    height: 100%;
    width: 100%;
    background: url(image/plus.png) no-repeat 50% 50%;
}
.work_img:hover > .lovely_work_hover, .work_img:hover > .text_hover{
    visibility: visible;
}
.work_row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button_row{
    width: 100%;
}

.button_work {
    width: 145px;
    margin:0 auto;
}
.button_work button{
    width: 145px;
    height: 40px;
    margin-bottom: 50px;
    margin-top:45px;
    background-color:  rgb(58, 69, 77);
    border:2px solid rgb(255,255,255);
    color:rgb(255,255,255);
    border-radius:5px;
    cursor: pointer;
}

/* --------------------- WHAT WE DO-------------------- */
.service_row{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.what_we_do{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:25px;
}
.description_what_we_do p{
    text-align: center;
    color:rgb(150,152,155);
    line-height:30px;
    font-size:15px;
}
p.name_service{
    color:rgb(41,47,54);
    text-transform:uppercase;
    font-weight:600;
    padding: 20px 0 15px 0;
    font-size:15px;
}

/* --------------------- FEATURES-------------------- */
.features_row{
    display: flex;
    flex-direction:column;
    padding-bottom:100px;
}
.img_features img{
    width: 100%;
}
.description_features{
    padding-top:15px;
}
p.name_features{
    color: rgb(225, 225, 225);
    text-transform: uppercase;
    font-weight: 600;
}
.description_features span{
    display:block;
    color:rgb(225, 225, 225);
    line-height: 25px;
    margin-top: 20px;
    margin-bottom:30px;
}

/* --------------------- CONTACT-------------------- */
.maps img{
    width: 100%;
}
.contact_information{
    display:flex;
    flex-direction:column;
    /* align-items: center; */
    padding-bottom: 60px;
}
.contact_title p{
    text-transform: uppercase;
    font-weight: 600;
    color:rgb(41,47,54);
    padding-top:50px;
    padding-bottom:25px;
}
.text_contact_inf span{
    display:block;
    color:rgb(141, 143, 146);
    line-height: 25px;
    padding-bottom:10px
}
.text_contact_inf span b{
    font-weight: 600;
}


/* --------------------- FOOTER-------------------- */
.footer{
    background-color:rgb(58,69,77);
}
.footer_row{
    height: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer_inf{
    padding-top:10px;
    font-size: 15px;
    color:rgb(225, 225, 225);
    line-height: 20px;
}
.footer_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
.footer_icons .skype, .fb, .twt, .in, .be{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.skype{
    background:  url(image/icon_skype.png) no-repeat 50% 50%;
}
.fb{
    background:  url(image/icon_facebook.png) no-repeat 50% 50%;
}
.be{
    background:  url(image/icon_be.png) no-repeat 50% 50%;
}
.in{
    background:  url(image/icon_in.png) no-repeat 50% 50%;
}
.twt{
    background:  url(image/icon_tw.png) no-repeat 50% 50%;
}


/*-------------------------- МОДАЛЬНЕ ВІКНО №1--------------------------  */


.contact_message{
    width: 150px;
    height: 45px;
    margin-top: 20px;
    background-color: rgb(35, 183, 164);
    border:1px solid rgb(225, 225, 225);
    border-radius: 5px;
    color:rgb(225, 225, 225);
    cursor: pointer;
    position: relative;
}

.send_message{
    width: 150px;
    height: 45px;
    background-color: rgb(35, 183, 164);
    border:1px solid rgb(225, 225, 225);
    border-radius: 5px;
    color:rgb(225, 225, 225);
    cursor: pointer;
    margin-top:10px;
}
.modal{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;

}
.modal-block{
    width:100%;
    min-height: 450px;
    border:1px solid grey;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;    
    position: relative;
    margin:0 auto;
 
}
textarea{
    width: 100%;
    display: block;
    height: 200px;
    background-color:  rgb(226, 226, 226);
    border:none;
}
.form-fields p{
    margin:15px 0;
    text-transform: uppercase;
    color: rgb(141, 143, 146);
    font-weight: 600;
}

.form-fields{
    margin-left: 10px;
}

.form-fields input{
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: rgb(226, 226, 226);
    border:0
}

.close{
    text-align: right;
    color: rgb(70, 70, 71);
    font-weight: 900;
    position: absolute;
    cursor: pointer;
    top:10px;
    right: 10px;
}
.close:hover{
    transform: scale(1.5);
}
.hide{
    display: none;
}
.show{
    display: block;
}





/*-------------------------- Mobile--------------------------  */
@media(max-width:767px){
    .main_menu{
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        margin-bottom: 5px;
    }
    .Goals{
        margin-top:50px;
   }
    .number_goal{
        width: 15%;
    }
    .text_goal{
        width: 85%;
 }  

}


/* -------------------------- Tablet -------------------------- */
@media(min-width:768px){
    .header_row{
        height: 80px;
        display: flex;
        flex-direction: row;
    }
    .logo, .menu{
        padding-top:0;
    }
    .main_menu{
        display: flex;
    }
    .main_menu > li{
        margin:0 2px;
    }
    .social_network{
        width: 305px;
    }
    .modest_row{
        flex-direction: column;
    }
    .all_goals{
        height: 80px;
    }
    .all_goals:first-child{
        margin-top: 50px;
    }

    .team_row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .photo_team img{
        width: 100%;
    }
    .work img{
        width: 100%;
      
    }
    .work_row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service_row{
        display:flex;
        flex-direction:row;
        align-items: center;
        flex-wrap:wrap;
    }
   .features_row{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
   }
    .footer_row{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
  
}


/* -------------------------- Laptop -------------------------- */
@media(min-width:992px){
    .modest_row{
        flex-direction:row
    }
    .all_goals:first-child{
        margin-top: 0;
    }
    .text_goal{
        margin-left:30px;
    }
    .features_row{
        display: flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    p.name_features{
        margin-top:40px;
   
    }
    .contact_information{
        
        padding-bottom: 100px;
    }
    .hover_foto_team{
        width: 100%;
        height:240px;
    }
    .contact_button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}


/* -------------------------- Desktop -------------------------- */
@media(min-width:1200px){
    .header_row{
        flex-direction: row;
    }
     .main_menu{
         margin-left:10px;
     }
    .main_menu a{
        font-size:15px;
    }
    .main_menu > li{
        margin:0 10px;
    }
    .logo{
        margin:0;
    }
    .search{
        width: 200px;
    }
    .search input{
        width: 150px;
    }
    .what_we_do{
        margin-bottom: 80px;
    }
    .features_row{
        flex-wrap: nowrap;   
     }
     .contact_button{
        margin-top: 50px;
    }
    .form-fields{
        margin-left: 10px;
        float:left; 
    }
     .form-fields:after{
        content: "";
        display: block;
        clear: both;
    }
    .modal-block{
        width: 600px;
    }
    textarea{
        width: 500px;
    }
    .form-fields input{
        width: 250px;
    }
    .hover_foto_team{
        width: 100%;
        height:300px;
    }
}







.modal_wind{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:100;
    display: none;
    
}
.modal-block-wind{
    width:50%;
    height: 300px; 
    border:1px solid grey;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;    
    position: relative;
    margin:0 auto;
}
.modal-block-wind h3{
    padding:20px;
    color: rgb(58,69,77);
    font-weight: 600;
}

.form-fields-wind input{
    width:100%;
    height: 30px;
    padding: 10px;
    background-color: rgb(226, 226, 226);
    border:0;
    margin:0 auto;
}
.form-fields-wind{
    margin:20px 0;
}
.btn-close{
    text-align: right;
    color: rgb(70, 70, 71);
    font-weight: 900;
    position: absolute;
    cursor: pointer;
    top:15px;
    right: 15px;
}
.btn-close:hover{
    transform: scale(1.5);
}
.subscription{
    height: 40px;
    width: 100%;
    color: rgb(225, 225, 225);
    background-color: rgb(35, 183, 164);
    border:none;
    text-transform: uppercase;
    font-weight: 600;
    margin-top:10px;
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block;
}

